---
layout: layout
---

<div class="twelve columns blog post main-content">
    <div class="content no-img">
        <div class="twelve columns omega">
            <div class="content">
                <div id="post">
                    <h1>{{ page.title }}</h1>    
                    <article>
                        {{ content }}
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="four columns sidebar">
    <div class="pages-widget">
        <h3><a href="{{ site.baseurl }}">{{ "List of Articles" }}</a></h3>
        <ul>
            {% for post in site.posts %}
                <li>
	            <a href="{{ post.url | remove_first:'/' }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
